<div class= "container" >
    <app-button class="btn btn-top-left" (btnClick)="goBack()" text="Back"></app-button>

    <div class= "addAllergiesVaccines">
        
         <form
         
         #formDemo= "ngForm"
         class= "form-check-in"
         (ngSubmit)= "submitAllergy(newAllergy)">  
 
         <div class= "form-group">
             <label for= "newAllergy">Add Allergy:</label>
             <input
                 type= "text"
                 class= "form-control"
                 name= "newAllergy"
                 id= "newAllergy"
                 maxlength="50"
                 [(ngModel)] = "newAllergy"
                 required
             />
             <br>
            </div>
            <button type= "submit" class= "btn btn-success submit-button">Add</button>
        </form>

        <form
         
         #formDemo= "ngForm"
         class= "form-check-in"
         (ngSubmit)= "submitVaccine(newVaccine)">  
 
         <div class= "form-group">
             <label for= "newVaccine">Add Vaccine:</label>
                 <input
                     type= "text"
                     class= "form-control"
                     name= "newVaccine"
                     id= "newVaccine"
                     maxlength="100"
                     [(ngModel)] = "newVaccine"
                     required
                 />
             <br>
 
         </div>
         <button type= "submit" class= "btn btn-success submit-button">Add</button>
     </form>

     <form
         
         #formDemo= "ngForm"
         class= "form-check-in"
         (ngSubmit)= "deleteAllergy(oldAllergies)">  
 
         <br>
        <div id = "allergyanchor">Delete Allergies:</div>

         <button type= "submit" class= "btn btn-success submit-button">Delete</button>
     </form>

     <form
         
         #formDemo= "ngForm"
         class= "form-check-in"
         (ngSubmit)= "deleteVaccine(oldVaccines)">  
 
         <br>
        <div id = "vaccineanchor">Delete Vaccines:</div>

         <button type= "submit" class= "btn btn-success submit-button">Delete</button>
     </form>
 <br>

 </div>

 </div>