<div class="container-full d-flex align-items-center">
    <div class="container">
        <div class="row">
            <div class="d-flex justify-content-center col-md-12">
                <div class="mainbox mainbox-bg">
                    <div class="row">
                        <div class="col-md-5 p-5">
                            <div class="mb-5">
                                <img src="/assets/img/WellNetLogo.jpg" alt="">
                            </div>
                            <h4 class="mb-4">
                                Request a New Password
                            </h4>
                            <label>Please type your email address:</label>
                            <div class="input-group mb-4">
                                <span class="input-group-text" >
                                  @
                                </span>
                                <input type="text" class="form-control"
                                #email       
                                 
                                  autocomplete = "off" placeholder="Email address">
                                
                              </div>
                            <div class="mb-4"><button (click)="sendEmail(email.value)" class="btn btn-outline-success">Submit</button></div>
                            <div class="links">
                                <ul>
                                    <li>
                                        <a (click)="loginPage()">Back to Login</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>