<div id="RegistrationDiv" class="col-sm-4">

    <div class="CenterContainerContent">
        <h3 class="RegistrationTitle">
            Request a New Password
        </h3>
    </div>
   
    <div>
        <div>
            <label class="loginText">Email:</label>
            <input type="text" #email class="loginInput">
        </div>
        <div><button (click)="sendEmail(email.value)" class="RegisterButton">Submit</button></div>
    </div>
    <div>
       
        <!-- <div><button (click)="register()" class="RegisterButton">Register</button> </div> -->
        <!-- <div><button (click)="forgetPassword()" class="RegisterButton">Forget Password</button> </div> -->
        <hr>
        
        <!--
        <div><button (click)="getUser()" class="RegisterButton">Get user info</button> </div>
        <div><button (click)="logout()" class="RegisterButton">Logout</button></div>
        <div><button (click)="refreshToken()" class="RegisterButton"> Refresh Token</button> </div> -->
    </div>
</div>
<!-- <a routerLink="signup" routerLinkActive="active"><button>Create Account</button></a> -->