<div *ngIf="symptomQuestions == 'true'">
<div>
    Have you experienced any of the following symptoms:
</div>

<label for=feverChills>Fever or Chills</label>
<label>
    Yes
    <input for="feverChills" [(ngModel)]="feverChills" type="radio" value="true"
        name="feverChills">
</label>
<label>
    No
    <input for="feverChills" [(ngModel)]="feverChills" type="radio" value="false"
        name="feverChills" checked=checked>
</label>
<br>

<label for=cough>Cough</label>
<label>
    Yes
    <input for="cough" [(ngModel)]="cough" type="radio" value="true"
        name="cough">
</label>
<label>
    No
    <input for="cough" [(ngModel)]="cough" type="radio" value="false"
        name="cough" checked=checked>
</label>
<br>

<label for=shortnessOfBreath>Shortness of breathe or difficulty breathing</label>
<label>
    Yes
    <input for="shortnessOfBreath" [(ngModel)]="shortnessOfBreath" type="radio" value="true"
        name="shortnessOfBreath">
</label>
<label>
    No
    <input for="shortnessOfBreath" [(ngModel)]="shortnessOfBreath" type="radio" value="false"
        name="shortnessOfBreath" checked=checked>
</label>
<br>

<label for=fatigue>Fatigue</label>
<label>
    Yes
    <input for="fatigue" [(ngModel)]="fatigue" type="radio" value="true"
        name="fatigue">
</label>
<label>
    No
    <input for="fatigue" [(ngModel)]="fatigue" type="radio" value="false"
        name="fatigue" checked=checked>
</label>
<br>

<label for=muscleOrBodyAches>Muscle or body aches</label>
<label>
    Yes
    <input for="muscleOrBodyAches" [(ngModel)]="muscleOrBodyAches" type="radio" value="true"
        name="muscleOrBodyAches">
</label>
<label>
    No
    <input for="muscleOrBodyAches" [(ngModel)]="muscleOrBodyAches" type="radio" value="false"
        name="muscleOrBodyAches" checked=checked>
</label>
<br>

<label for=lossOfTasteSmell>New loss of taste or smell</label>
<label>
    Yes
    <input for="lossOfTasteSmell" [(ngModel)]="lossOfTasteSmell" type="radio" value="true"
        name="lossOfTasteSmell">
</label>
<label>
    No
    <input for="lossOfTasteSmell" [(ngModel)]="lossOfTasteSmell" type="radio" value="false"
        name="lossOfTasteSmell" checked=checked>
</label>
<br>

<label for=soreThroat>Sore throat</label>
<label>
    Yes
    <input for="soreThroat" [(ngModel)]="soreThroat" type="radio" value="true"
        name="soreThroat">
</label>
<label>
    No
    <input for="soreThroat" [(ngModel)]="soreThroat" type="radio" value="false"
        name="soreThroat" checked=checked>
</label>
<br>

<label for=nauseaVomiting>Nausea</label>
<label>
    Yes
    <input for="nauseaVomiting" [(ngModel)]="nauseaVomiting" type="radio" value="true"
        name="nauseaVomiting">
</label>
<label>
    No
    <input for="nauseaVomiting" [(ngModel)]="nauseaVomiting" type="radio" value="false"
        name="nauseaVomiting" checked=checked>
</label>
<br>

<label for=diarrhea>Diarrhea</label>
<label>
    Yes
    <input for="diarrhea" [(ngModel)]="diarrhea" type="radio" value="true"
        name="diarrhea">
</label>
<label>
    No
    <input for="diarrhea" [(ngModel)]="diarrhea" type="radio" value="false"
        name="diarrhea" checked=checked>
</label>
<br>



<button type='button' (click)='symptomSubmit()'>Next question</button>
</div>

<div *ngIf="testedPositiveQuestions=='true'">
    <label for='testedPositive'>Have you tested positive for Covid-19 in the past 10 days?</label>
    <br>
<input type='radio'  [(ngModel)]='testedPositive' name='testedPositive' value='true'>  
<label for='yes'>yes</label>              
<input type='radio'  [(ngModel)]='testedPositive' checked=checked name='testedPositive' value='false'> 
<label for='no'>no</label>
<br>
<button type='button' (click)='testedPositiveSubmit()'>Next question</button>
</div>

<div *ngIf="awaitingTestQuestions =='true'">
<label for='awaitingTestResults'>Are you currently awaiting the results from a Covid-19 test?</label>
<br>
<input type='radio'  [(ngModel)]='awaitingTestResults'  name='awaitingTestResults' value='true'>  
<label for='yes'>yes</label>              
<input type='radio'  [(ngModel)]='awaitingTestResults' checked=checked name='awaitingTestResults' value='false'> 
<label for='no'>no</label>
<br>
<button type='button' (click)='awaitingTestSubmit()'>Next question</button>
</div>

<div *ngIf="diagnosedQuestions == 'true'">
<label for='diagnosedQuestions'>Have you been diagnosed with COVID-19 by a licensed healthcare provider (for example, a doctor, nurse, 
pharmacist, or other) in the past 10 days?
    </label>
    <br>
<input type='radio'  [(ngModel)]='diagnosedResults'  name='diagnosedQuetions' value='true'>  
<label for='yes'>yes</label>              
<input type='radio'  [(ngModel)]='diagnosedResults' checked=checked name='diagnosedQuestions' value='false'> 
<label for='no'>no</label>
<br>
<button type='button' (click)='diagnosedSubmit()'>Next question</button>
</div>

<div *ngIf="suspectedQuestions == 'true'">
    <label for='suspectedQuestions'> Have you been told that you are suspected to have COVID-19 by a
        licensed healthcare provider in the past 10 days?
        </label>
        <br>
<input type='radio'  [(ngModel)]='suspectedQuestions'  name='suspectedQuestions' value='true'>  
<label for='yes'>yes</label>              
<input type='radio'  [(ngModel)]='suspectedQuestions' checked name='suspectedQuestions' value='false'> 
<label for='no'>no</label>
<br>
<button type='button' (click)='symptomSubmit()'>Next question</button>
</div>







            

