<div class= "container" >
   <div class= "patientCheckIn">

    <p><span class = "asterix">*</span> marks required fields.</p>
       
        <form
        
        #formDemo= "ngForm"
        class= "form-check-in "
        (ngSubmit)= "onSubmit(firstName, lastName, dob, feet, inches, weight, bloodtype, sex, allergies, vaccinations)">  

        <div class= "form-group">
            <span class = "asterix">*</span><label for= "firstName">First Name:</label>
            <input
                type= "text"
                class= "form-control"
                name= "firstName"
                id= "firstName"
                maxlength="50"
                [(ngModel)] = "firstName"
                required
            />
            <br>
            <span class = "asterix">*</span><label for= "lastName">Last Name:</label>
                <input
                    type= "text"
                    class= "form-control"
                    name= "lastName"
                    id= "lastName"
                    maxlength="50"
                    [(ngModel)] = "lastName"
                    required
                />
            <br>
                <span class = "asterix">*</span><label for= "dob">Date of Birth:</label>
                <input
                    type= "date"
                    class= "form-control"
                    name= "dob"
                    id= "dob"
                    [(ngModel)] = "dob"
                    required
                />
            <br>
                <p>Height: </p>
                <label for= "feet">feet:</label>
                <input
                    type= "number"
                    min = ".5"
                    class= "form-control"
                    name= "feet"
                    id= "feet"
                    min="0"
                    max="10"
                    [(ngModel)] = "feet"
                />
                <label for= "inches">inches:</label>
                <input
                    type= "number"
                    min = "0"
                    class= "form-control"
                    name= "inches"
                    id= "inches"
                    min="0"
                    max="120"
                    [(ngModel)] = "inches"
                />
            <br>
                <label for= "weight">Weight (lbs.):</label>
                <input
                    type= "number"
                    min = "0"
                    max="2000"
                    class= "form-control"
                    name= "weight"
                    id= "weight"
                    [(ngModel)] = "weight"
                />
                <span></span>
            <br>
            <label for="bloodtype">Bloodtype:</label>
                <select id="bloodtype" name="bloodtype" class= "form-control" [(ngModel)] = "bloodtype">
                    <option value=""></option>
                    <option value="O-">O-</option>
                    <option value="O+">O+</option>
                    <option value="B-">B-</option>
                    <option value="B+">B+</option>
                    <option value="A-">A-</option>
                    <option value="A+">A+</option>
                    <option value="AB-">AB-</option>
                    <option value="AB+">AB+</option>
                </select>
            <br>
            <span class = "asterix">*</span><label for="sex">Sex:</label>
                <select id="sex" name="sex" class= "form-control" [(ngModel)] = "sex">
                    <option value="M">Male</option>
                    <option value="F">Female</option>
                    <option value="NB">Other</option>
                </select>
            <br>
            <div id = "allergyanchor">Allergies:</div>
            <br>
            <div id = "vaccinationanchor">Vaccinations:</div>

        </div>
        <button type= "submit" class= "btn btn-success submit-button">Add Patient</button>
    </form>
<br>

    <a routerLink= "/nurse" ><app-button class="btn" text="Navigate Home"></app-button></a>
    <!-- </div>
    <ng-template #NewPatient>
      <p>This is where the new patient registration goes</p>
    </ng-template> 



  public allergies! : object[];
  public vaccinations! : object[];
-->
</div>



