<div class="container-full">
    <div class="container-fluid h100">
        <div class="row h100">
            <div class="col-md-2 p-3 bg-light">
                <app-side-bar class="d-flex flex-column flex-shrink-0 h100"></app-side-bar>
            </div>
            <div class="col-md-10 align-self-center">
                <div class="mainbox">
                    <div class="row">
                        <div class="col-md-12 p-5">
                            <div class="mb-5">
                                <img src="/assets/img/WellNetLogo.jpg" alt="">
                            </div>
                            <h4 class="mb-4">Patient search</h4>
                                    
        <div class="mb-4">
            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">
                    First name:
                    <input type="text" class="form-control Input" id="firstName" #firstName name="firstName" placeholder="Enter First Name" required>
                </li>
                <li class="list-group-item">
                    Last name:
                    <input type="text" class="form-control" id="lastName" #lastName  name="lastName" placeholder="Enter Last Name" required>
                </li>
                <li class="list-group-item">
                    <label for= "dob">Date of Birth:</label>
                    <input size=12
                        type= "date"
                        class= "form-control "
                        name= "dob"
                        id= "dob"
                        #dobField
                        placeholder="Date of birth (mm/dd/yyyy)"
                    > 
                </li>
                <li class="list-group-item">
                    Search by
                    <select class="form-select" aria-label="Default select example">
                        <option selected>Display all patients</option>
                        <option value="1">First name</option>
                        <option value="2">First name and last name</option>
                        <option value="3">First name, last name and date of birth</option>
                      </select>
                </li>
                <li class="list-group-item">
                    <br>
                    <button id="searchId" class="btn btn-outline-success" (btnClick)="getAllPatients()" text="Display All Patients">Search</button>
                </li>
            </ul>
            
            
       
    
        </div>  
    
    <div class="mb-4" hidden>             
            <button id="searchName"  class="btn btn-outline-success" (btnClick)="searchPatByFName(firstName.value)" text="Search for Patients by First Name">Search for patients by first name</button>
            <button id="searchFullName"  class="btn btn-outline-success" (btnClick)="searchPatByFullName(firstName.value, lastName.value)" text="Search for Patients by Last Name">Search for patients by first name and last name</button>
            <button id="searchDOB" class="btn btn-outline-success" (btnClick)="searchPatNameDate(firstName.value, lastName.value, dobField.value)" text="Search for Patients by First, Last, and Date of Birth">Search for patients by first name, last name and date of birth</button>
    </div>
    
  
  <div>
      <table class="table .table-striped">
          <thead>
              <tr>
                  <th>Diagnose Patient</th>
                  <th>Patient First Name</th>
                  <th>Patient Last Name</th>
                  <th>Date of Birth</th>
                  <!-- <th>Age</th> -->
                  <th>Allergies</th>
                  <th>Height</th>
                  <th>Weight</th>
                  <th>Vaccinations</th>
                  <th>Blood Type</th>
                  <th>Sex</th>
                  <!-- <th>Doctor</th> -->
              </tr>
          </thead>
          <tbody>
              <tr *ngFor="let patient of patientsArray">
                <td><app-button (btnClick)="diagnosePatient(patient)"></app-button></td>
                  <td>{{patient.firstName}}</td>
                  <td>{{patient.lastName}}</td>
                  <td>{{patient.dob}}</td>
                  <!-- <td>{{patient.dob}}</td> -->
                  <td>
                      <ul>
                          <li  *ngFor = "let allergy of patient.allergies">
                              {{allergy.allergy}}
                          </li>
                      </ul>
                  </td>
                  <td>{{patient.height}}</td>
                  <td>{{patient.weight}}</td>
                  <td>
                      <ul>
                          <li  *ngFor = "let vax of patient.vaccinations">
                              {{vax.vaccination}}
                          </li>
                      </ul>
                      <!-- {{patient.vaccinations[0].vaccination}} -->
                  </td>
                  <td>{{patient.bloodType.type}}</td>
                  <td>{{patient.sex.sex}}</td>
                  <td>{{patient.doctor}}</td>
              </tr>
          </tbody>
      </table>
  </div>
 
  
                           

                         
                            
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>