* {
    box-sizing: border-box;
    position: relative;
    color: rgb(0, 38, 74);
}
.background {
    background:  rgba(200, 220, 180, 0.1);
}

.container{
    display: flex;
    justify-content: center;
}

.btn-top-left{
    position: absolute;
    top: 10px;
    left: 10px;
}

.top-right{
    position: absolute;
    top: 10px;
    right: 10px;
}

.search-area{
    display: flex;
    margin-bottom: 100px;
    position: relative;
    left: 0px;
}

.form-group {
    width: 87%;
    margin: 0px;
}

.btn-search {
    width: 12%;
    margin: 0px;
    height: 35px;
    position: absolute;
    bottom: 0px; 
    right: 0px;
}

input {
    width: 100%;
    margin-right: 0px;
    padding-left: 10px;
    height: 35px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    border: 1px transparent;
    border-radius: 5px;
    background: rgba(196, 230, 83, 0.2);
}

.btn-add-patient {
    margin: auto;
}

.btn-center {
    display: flex;
    margin-top: 3em;
    margin-bottom: 3em;
}

.table{
    display: flex;
    justify-content: center;
    margin: auto;
    background: rgba(200, 220, 180, 0.1);
}

table th {
    padding: 10px 35px 10px;
    border-right: 1px solid #ccc;
}

table th:last-child {
    border-right: none;
}

