
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
        
        <span class="fs-4"><i class="bi bi-brightness-alt-high"></i> Welcome Nurse</span>
      </a>
      <hr>
<ul class="nav nav-pills flex-column mb-auto">
<li class="nav-item">
<a [routerLink]="['/nurse']" class="nav-link link-dark" aria-current="page">
<i class="bi bi-house"></i>
Home
</a>
</li>
<li>
<a [routerLink]="['/profile']" class="nav-link link-dark">
<i class="bi bi-person"></i>
Profile
</a>
</li>
<li>
  <a [routerLink]="['/patientcheckin']" class="nav-link link-dark">
    <i class="bi bi-person-plus"></i>
  Add patient
  </a>
  </li>
  <li>
    <a [routerLink]="['/addAllergiesVaccines']" class="nav-link link-dark">
      <i class="bi bi-clipboard-plus"></i>
    Add patient options
    </a>
    </li>
    <li>
      <a [routerLink]="['/rooms']" class="nav-link link-dark">
        <i class="bi bi-door-open"></i>
      Assign patient to room
      </a>
      </li>
<li>
<a href="#" class="nav-link link-dark">
<i class="bi bi-shield-lock"></i>
Change password
</a>
</li>
<li>
<a class="nav-link link-dark" (click)="logout()">
<i class="bi bi-box-arrow-in-left"></i>
Logout 
</a>
</li>
</ul>
<div class="dropdown">
<a href="#" class="d-flex align-items-center link-dark text-decoration-none" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
<span class="fs-4"><i class="bi bi-box-arrow-in-right me-2"></i></span> 
<strong>user email here</strong>
</a>
</div>