
<!-- <p class="col-sm-4"> -->
<div id = "RegistrationDiv" class="col-sm-4">

  <div id = "CenterContainerContent">
    <h1 id="RegistrationTitle">
      New User <br> Registration
    </h1>
  </div>

  <form class = "d-flex col-sm-4" id = "RegistrationForm">

    <label for="RegistrationFirstName">
      First Name
    </label>  
    <input type="text" id="RegistrationFirstName" 
      #RegistrationFirstName 
      (keyup.enter)="updateFirstName(RegistrationFirstName.value)"
      (blur)="updateFirstName(RegistrationFirstName.value);"
      onkeydown="return event.key != 'Enter';"
      autocomplete = "off">
  
    <br>
    <label for="RegistrationLastName">
      Last Name
    </label>
    <input type="text" id="RegistrationLastName"
      #RegistrationLastName
      (keyup.enter)="updateLastName(RegistrationLastName.value)"
      (blur)="updateLastName(RegistrationLastName.value);"
      onkeydown="return event.key != 'Enter';"
      autocomplete = "off">

    <br>
    <label for="RegistrationUsername">
      Username
    </label>
    <input type="text" id="RegistrationUsername"
      #RegistrationUsername
      (keyup.enter)="updateUsername(RegistrationUsername.value)"
      (blur)="updateUsername(RegistrationUsername.value)"
      onkeydown="return event.key != 'Enter';"
      autocomplete = "off">

    <br>
    <label for="RegistrationPassword">
      Password
    </label>
    <input type="text" id="RegistrationPassword"
      #RegistrationPassword
      (keyup.enter)="updatePassword(RegistrationPassword.value)"
      (blur)="updatePassword(RegistrationPassword.value)"
      onkeydown="return event.key != 'Enter';"
      autocomplete = "off">

    <br>
    <label for="RegistrationRole">
      Company Role
    </label>
    <input type="text" id="RegistrationRole"
      #RegistrationRole
      (keyup.enter)="updateRole(RegistrationRole.value)"
      (blur)="updateRole(RegistrationRole.value)"
      onkeydown="return event.key != 'Enter';"
      autocomplete = "off">
    <p *ngIf="roleValidated == false" id="RegistrationValidationMessage">
      Please Enter A Valid Role : Nurse or Doctor
    </p>

    <p id="RegistrationSpacer"></p>
    <p id="RegistrationSpacer" *ngIf="roleValidated == true || roleValidated === null"></p>
    <label for="RegistrationEmail">
      Email
    </label>
    <input type="text" id="RegistrationEmail"
      #RegistrationEmail
      (keyup.enter)="updateEmail(RegistrationEmail.value)"
      (blur)="updateEmail(RegistrationEmail.value)"
      onkeydown="return event.key != 'Enter';"
      autocomplete = "off">
    <p *ngIf="emailValidated == false" id="RegistrationValidationMessage"> 
      Please enter a valid email
    </p>

    

    <p id="RegistrationSpacer"></p>
    <p id="RegistrationSpacer" *ngIf="emailValidated == true || emailValidated === null"></p>

    <div id="CenterContainerContent">
    <button type="button" (click)="updateValues()" 
      id="RegisterButton" [disabled] = "registrationButtonSetting">
      Register User
    </button>
    </div>

  </form>

  <!-- Validate Entry -->
  <div *ngIf = "debugging == true;">

  <h3> VV For Debugging VV </h3>
  <p> Entered First Name : {{firstName}} </p>
  <p> Entered Last Name : {{lastName}} </p>
  <p> Entered Username : {{username}} </p>
  <p> Entered Password : {{password}} </p>
  <p> Entered Role : {{role}} </p>
  <p> Entered Email : {{email}} </p>

  </div>
</div>
<!-- <p class="col-sm-4"> -->


