<app-navbar></app-navbar>
<div class="background">
    <div class="container">
        <h1>Doctor</h1>
    </div>

    <app-button class="btn btn-top-left" (btnClick) = "goBack()" text = "Back"></app-button>

    <div class="top-right">
    <app-button class="btn" (btnClick) = "viewUserInfo()" text = "View User Info"></app-button>
    <app-button class="btn" (btnClick) = "logout()" text = "Logout"></app-button>
    </div>


    <!-- <div id = "TempDiv">
        <h1> All Patients Available (Displaying Available Fields) </h1>

        <table class="table table-striped table-light table-hover
        table-sm"
        id="TempAllPatients">
        <thead class="thead-light">
        <tr>
            <th scope="col"> First Name </th>
            <th scope="col"> Last Name </th>
            <th scope="col"> Patient ID </th>
            <th scope="col"> DOB </th>
            <th scope="col"> Sex </th>
            <th scope="col"> Height </th>
            <th scope="col"> Weight </th>
        </tr>
        </thead>

        <tbody>

       VVV From Patient Model VVV     
    public patientId: number|null;
    public firstName: string;
    public lastName: string;
    public dob: Date;
    public height: number;
    public weight: number;
    public bloodType: string;
    public sex: string;
    public vaccinations?: object[];
    public allergies?: object[];

            <tr *ngFor="let t of tempAllPatients">
                <td style="text-align : center;">{{t.patientId}}</td>
                <td style="text-align : center;">{{t.firstName}}</td>
                <td style="text-align : center;">{{t.lastName}}</td>
                <td style="text-align : center;">{{t.dob}}</td>
                VV Can Not Pull Out Without Sex Model Because Patient Currently STores As 
                        The String sex_id In DBeaver Database And Does Not Map To Their
                        Patient
               <td style="text-align : center;">{{t.sex}}</td>
                <td style="text-align : center;">{{t.height}}</td>
                <td style="text-align : center;">{{t.weight}}</td>
            </tr>
        </tbody>
    </table>

    </div> -->

    <div class="search-area">
    <div class="form-group">
        <!-- <label for="patient-search">Search for Patients</label> -->
        <input type="text" class="form-control" id="firstName" #firstName name="firstName" placeholder="Enter First Name" required>
        <input type="text" class="form-control" id="lastName" #lastName  name="lastName" placeholder="Enter Last Name" required>
    </div>

    <label for= "dob">Date of Birth:</label>
    <input
        type= "date"
        class= "form-control"
        name= "dob"
        id= "dob"
        #dobField
    >

    <div class="button-group">
         <app-button id="searchId" class="btn btn-search" (btnClick)="getAllPatients()" text="Display All Patients"></app-button>
        <app-button id="searchName"  class="btn btn-search" (btnClick)="searchPatByFName(firstName.value)" text="Search for Patients by First Name"></app-button>
        <app-button id="searchFullName"  class="btn btn-search" (btnClick)="searchPatByFullName(firstName.value, lastName.value)" text="Search for Patients by Last Name"></app-button>
        <app-button id="searchDOB" class="btn btn-search" (btnClick)="searchPatNameDate(firstName.value, lastName.value, dobField.value)" text="Search for Patients by First, Last, and Date of Birth"></app-button>
    </div>
</div>

<div class="DoctorSearchArea">
    
    <div class="form-group">
        <!-- <label for="patient-search">Search for Patients</label> -->
        <input type="text" class="form-control" id="doctorFirstName" #doctorFirstName name="doctorFirstName" placeholder="Enter First Name" required>
        <input type="text" class="form-control" id="doctorLastName" #doctorLastName  name="doctorLastName" placeholder="Enter Last Name" required>           
    </div>


    <app-button id="searchDoctor" class="btn btn-search" (btnClick)="searchByDoctor(doctorFirstName.value, doctorLastName.value)" text="Search By Doctor"></app-button> 

</div>

    <div class="table">
        <table>
            <thead>
                <tr>
                    <th *ngIf="searchingDoctor"> Doctor </th>
                    <th>Patient First Name</th>
                    <th>Patient Last Name</th>
                    <th>Date of Birth</th>
                    <!-- <th>Age</th> -->
                    <th>Allergies</th>
                    <th>Height (in.)</th>
                    <th>Weight (lbs.)</th>
                    <th>Vaccinations</th>
                    <th>Blood Type</th>
                    <th>Sex</th>
                    <!-- <th>Doctor</th> -->
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let patient of patientsArray">
                    <td><app-button text="Prescribe Treatment" (btnClick)="diagnosePatient(patient)"></app-button></td>
                    <td *ngIf="searchingDoctor"> {{doctorName}}</td>
                    <td>{{patient.firstName}}</td>
                    <td>{{patient.lastName}}</td>
                    <td>{{patient.dob}}</td>
                    <!-- <td>{{patient.dob}}</td> -->
                    <td>
                        <ul>
                            <li  *ngFor = "let allergy of patient.patientAllergies">
                                {{allergy.allergy}}
                            </li>
                        </ul>
                    </td>
                    <td>{{patient.height}}"</td>
                    <td>{{patient.weight}} lbs</td>
                    <td>
                        <ul>
                            <li  *ngFor = "let vax of patient.patientVaccinations">
                                {{vax.vaccination}}
                            </li>
                        </ul>
                        <!-- {{patient.vaccinations[0].vaccination}} -->
                    </td>
                    <td *ngIf="!patient.bloodType"></td>
                    <td *ngIf="patient.bloodType">{{patient.bloodType.type}}</td>
                    <td>{{patient.sex.sex}}</td>
                    <td>{{patient.doctor}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
