<div class="background">
<div class="accountCard" id ="favs">

    

   <div class="title"><h3>Account Information</h3></div>
   <br> 

    <table class="profile"> 
        <thead></thead>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td id = "firstName"></td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td id = "lastName"></td>
            </tr>
            <tr>
                <td>Role:</td>
                <td id = "role"></td>
            </tr>
            <tr>
                <td>Email:</td>
                <td id = "email"></td>
            </tr>
        </tbody>
    </table>

    <a routerLink= "/profileEdit" ><button class="Button2" text="Edit Information">Edit information</button></a>
    <button class="Button2" (click)="navigateHome()" text="Back to Home">Home</button>
</div></div>