<div class="container" id ="favs">
    <h1>Account Information</h1>

    <table class="profile"> 
        <thead></thead>
        <tbody>
            <tr>
                <td>First Name:</td>
                <td>{{firstName}}</td>
            </tr>
            <tr>
                <td>Last Name:</td>
                <td>{{lastName}}</td>
            </tr>
            <tr>
                <td>Specialty:</td>
                <td>{{specialty}}</td>
            </tr>
            <tr>
                <td>Email:</td>
                <td>{{email}}</td>
            </tr>
        </tbody>
    </table>
</div>