<div class="container-full">
    <div class="container-fluid h100">
        <div class="row h100">
            <div class="col-md-2 p-3 bg-light sidebar">
                <app-side-bar class="d-flex flex-column flex-shrink-0 h100"></app-side-bar>
            </div>

            <div class="col-md-10 align-self-center">
                <div class="mainbox">
                    <div id="buttons">
                        <button class="btn btn-outline-info" (click)="addPost()" *ngIf="showPost == false">Add Post</button>
                        <button class="btn btn-outline-success" (click)="submitPost()" *ngIf="showNewPost" [disabled]="postTitle == null || postBody == null || postTitle == '' || postBody == '' ">Submit</button>
                        <button class="btn btn-outline-secondary" (click)="back()" *ngIf="showNewPost">Back</button>
                    </div>
                    
                    <div *ngIf="showNewPost">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingTitle" placeholder="Title" [(ngModel)]="postTitle" required>
                            <label for="floatingTitle">Title</label>
                        </div>
                        <div class="form-floating">
                            <textarea class="form-control" id="floatingBody" placeholder="Add a new post" [(ngModel)]="postBody" required></textarea>
                            <label for="floatingBody">Post Content</label>
                        </div>
                        <hr>
                    </div>

                    <div class="post overflow-auto" style="height: {{ newPostSize }};" *ngIf="showPost == false">
                        <div class="card" *ngFor="let post of posts | reverse">
                                <div class="card-body" (click)="onClick(post)">
                                    <h5 class="card-title">{{ post.title }}</h5>
                                    <h6 class="card-subtitle text-muted">{{ post.posted | date : 'shortDate' }} - {{ post.author.firstname }} {{ post.author.lastname }}</h6>
                                    <p class="card-text">{{ post.description }}</p>
                                </div>
                        </div>
                    </div>

                    <div class="post" *ngIf="showPost">
                        <button class="btn btn-outline-secondary" (click)="back()">Back to Forum</button>
                        <button class="btn btn-outline-info" (click)="addComment()">Comment</button>
                        <app-post [post]="post" [size]="postSize"></app-post>
                        <div class="form-floating" *ngIf="showComment">
                            <textarea class="form-control" id="floatingBody" placeholder="Add a comment" [(ngModel)]="commentBody" required></textarea>
                            <label for="floatingBody">Add a Comment</label>
                        </div>
                        <button class="btn btn-outline-success" (click)="submitComment()" *ngIf="showComment" [disabled]="commentBody == null || commentBody == '' ">Submit</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
