.mainbox {
    padding: 1%;
    height: 70vh;
}

#buttons {
    text-align: center;
}

.overflow-auto {
    overflow-y: scroll;
    overflow-x: hidden !important;
}

.post {
    text-align: center;
    padding: 1%;
}

.card {
    margin-top: 15px;
}

.card:hover {
    cursor: pointer;
    /* transform: scale(110%);
    transition: 0.5s; */
}

button {
    height: 5vh;
    margin: 5px;
}

textarea {
    height: 8vh;
    margin-top: 17px;
    margin-bottom: 5px;
}