.overflow-auto {
    overflow-y: scroll;
}

button {
    height: 5vh;
    margin: 5px;
}

textarea {
    height: 10vh !important;
    margin-top: 17px;
    margin-bottom: 5px;
}

p {
    text-align: left;
}

input {
    width: 100%;
    text-align: center;
}

i {
    margin-left: 8px;
    margin-right: 8px;
}

i:hover {
    cursor: pointer;
}