<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
<div class="container" cdkDropListGroup>
    <div class="row">
        <div class="col-md-12">
            <p>rooms works!</p>

            <ul class="list-group list-group-horizontal">
                <li *ngFor="let area of areas" class="list-group-item shadow-pop-bl" >
                    {{area.name}}
                </li>
            </ul>
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-1 p-0">
            <div style="height: 10%;">

            </div>
            <div class="other d-flex align-items-center" style="background-color:#ECECFB; height: 80%;border-right: none;">
 <span>open offices</span>
            </div>
             <div style="height: 10%">
 
             </div>
        </div>
        <div  class="col-md-9">
           <div class="row">
               <ng-container *ngFor="let item of rooms">
               <div *ngIf="item.roomNumber <= 6"  cdkDropList #room{{item.roomNumber}}List="cdkDropList"  [cdkDropListData]="item.patients" (cdkDropListDropped)="drop($event)" class="col-md-2 room">                  
                <span class="badge bg-dark">{{item.roomNumber}}</span>
                <span *ngIf="item.roomStatus==1; else elseBlock" class="ms-2 badge bg-info text-dark">Available</span>
                <ng-template #elseBlock><span class="ms-2 badge bg-secondary">Occupied</span></ng-template>
                <div  *ngFor="let item of item.patients" class="patient" cdkDrag>
                    <p><i class='bx bx-user'></i>{{item}}</p>
                </div>
                </div>
                </ng-container>
           </div>
           <div class="row">
            <div class="col-md-12 hall">
                <!--Hall-->
            </div>
           </div>
           <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-2 p-0">
                        <ng-container *ngFor="let item of rooms">
                            <div *ngIf="item.roomNumber == 7 || item.roomNumber == 8"  cdkDropList #room{{item.roomNumber}}List="cdkDropList"  [cdkDropListData]="item.patients" (cdkDropListDropped)="drop($event)" class="room p-2">                  
                             <span class="badge bg-dark">{{item.roomNumber}}</span>
                             <span *ngIf="item.roomStatus==1; else elseBlock" class="ms-2 badge bg-info text-dark">Available</span>
                             <ng-template #elseBlock><span class="ms-2 badge bg-secondary">Occupied</span></ng-template>
                             <div  *ngFor="let item of item.patients" class="patient" cdkDrag>
                                 <p><i class='bx bx-user'></i>{{item}}</p>
                             </div>
                             </div>
                             </ng-container>
                    <div class="other smallroom">
                        Restroom
                    </div>
                    </div>
                    <div class="col-md-1">
<!--Hall-->
                    </div>
                    <div class="col-md-4 other">
Nurse station
                    </div>
                    <div class="col-md-1">
<!--Hall-->
                    </div>
                    <div class="col-md-2 p-0">
                        <ng-container *ngFor="let item of rooms">
                            <div *ngIf="item.roomNumber == 9 || item.roomNumber == 10"  cdkDropList #room{{item.roomNumber}}List="cdkDropList"  [cdkDropListData]="item.patients" (cdkDropListDropped)="drop($event)" class="other tallroom p-2">                  
                             <span class="badge bg-dark">{{item.roomNumber}}</span>
                             <span *ngIf="item.roomStatus==1; else elseBlock" class="ms-2 badge bg-info text-dark">Available</span>
                             <ng-template #elseBlock><span class="ms-2 badge bg-secondary">Occupied</span></ng-template>
                             <div  *ngFor="let item of item.patients" class="patient" cdkDrag>
                                 <p><i class='bx bx-user'></i>{{item}}</p>
                             </div>
                             </div>
                             </ng-container>
                    </div>
                 
                    <div class="col-md-2 p-0">
                        <div class="other tallroom p-2">
                            Check-In Station
                            </div>
                            <ng-container *ngFor="let item of rooms">
                                <div *ngIf="item.roomNumber == 16"  cdkDropList #room{{item.roomNumber}}List="cdkDropList"  [cdkDropListData]="item.patients" (cdkDropListDropped)="drop($event)" class="other tallroom p-2">                  
                                 <span class="badge bg-dark">{{item.roomNumber}}</span>
                                 <span *ngIf="item.roomStatus==1; else elseBlock" class="ms-2 badge bg-info text-dark">Available</span>
                                 <ng-template #elseBlock><span class="ms-2 badge bg-secondary">Occupied</span></ng-template>
                                 <div  *ngFor="let item of item.patients" class="patient" cdkDrag>
                                     <p><i class='bx bx-user'></i>{{item}}</p>
                                 </div>
                                 </div>
                                 </ng-container>
                    </div>
                </div>
            </div>
           </div>
           <div class="row">
            <div class="col-md-12 hall">
                <!--Hall-->
            </div>
           </div>
           <div class="row">
            <ng-container *ngFor="let item of rooms">
                <div *ngIf="item.roomNumber > 11"  cdkDropList #room{{item.roomNumber}}List="cdkDropList"  [cdkDropListData]="item.patients" (cdkDropListDropped)="drop($event)" class="col-md-2 room">                  
                 <span class="badge bg-dark">{{item.roomNumber}}</span>
                 <span *ngIf="item.roomStatus==1; else elseBlock" class="ms-2 badge bg-info text-dark">Available</span>
                 <ng-template #elseBlock><span class="ms-2 badge bg-secondary">Occupied</span></ng-template>
                 <div  *ngFor="let item of item.patients" class="patient" cdkDrag>
                     <p><i class='bx bx-user'></i>{{item}}</p>
                 </div>
                 </div>
                 </ng-container>
            </div>
        </div>
        <div class="col-md-2 p-0">
           <div style="height: 10%;">

           </div>
           <div cdkDropList #waitingroomList="cdkDropList"  [cdkDropListData]="waitingroom"  (cdkDropListDropped)="drop($event)"  class="other" style="background-color:#ECECFB; height: 80%; border-left: none;">
            Waiting room
            <div  *ngFor="let item of waitingroom" class="patient" cdkDrag>
                <p><i class='bx bx-user'></i>{{item}}</p>
            </div>
           </div>
            <div style="height: 10%">

            </div>
        </div>
    </div>
</div>