<div class= "container" >
    <div class= "patientDiagnosis">
        <form
        #formDemo= "ngForm"
        class= "form-diagnose "
        (ngSubmit)= "onSubmit(diagnosis)">
    
        <div class= "form-group">
            <div class="symptomInput">
                <label for= "symptom">Symptoms</label>
                <input
                    type= "text"
                    class= "form-control col-sm-3"
                    name= "symptom"
                    id= "symptom"
                    [(ngModel)] = "symptom"
                    required
                />
                <button type="button" class="btn btn-secondary col-sm-1" (click)="addSymptom(symptom)">+</button>
                <br>
            </div>
            <label for ="diagnosis">Diagnosis</label>
            <textarea
                rows = "10"
                cols= "100"
                class= "form-control"
                name= "diagnosis"
                id= "diagnosis"
                [(ngModel)]= "diagnosis"
                required
            >
            </textarea>
            <!-- <span
          class= "help-block"
          *ngIf= "!symptoms.valid"
          >Please enter patient symptoms</span> -->
        </div>
    <br>
    <button type= "submit" class= "btn btn-success submit-button" [disabled]= "!formDemo.valid">Subimt Diagnosis</button> 
    </form>
    
    </div>
</div>

